@import "bootstrap";

body {
    padding: 0;
    margin: 0;
    a {
        font-weight: bold;
    }
}
#page {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#block1 {
    background-color: red;
    width: 100%;
    height: 100%;
}
#block2 {
    background-color: green;
    width: 0%;
    height: 100%;
}
#block3 {
    background-color: blue;
    width: 50%;
    height: 0%;
}
#block4 {
    background-color: yellow;
    width: 50%;
    height: 0%;
}
