@import "bootstrap";
body {
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cinzel', serif;
}

#page {
    background-color: black;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
    top: 0vw;
    overflow: hidden;
}

#block1 {
    background-color: red;
    background-image: url('http://placehold.it/900x900/ff0000/000000?text=block1');
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#block2 {
    background-color: green;
    background-image: url('http://placehold.it/900x250/00ff00/000000?text=block2');
    background-position: center;
    right: 0vw;
    left: 100vw;
    bottom: 0vw;
    top: 0vw;
    position: absolute;
}

#block3 {
    background-color: blue;
    background-image: url('http://placehold.it/900x300/0000ff/000000?text=block3');
    background-position: center;
    width: 50vw;
    left: 50vw;
    bottom: 0;
    top: 100vh;
    position: absolute;
}

#block4 {
    background-color: yellow;
    background-image: url('http://placehold.it/900x300/ffff00/000000?text=block4');
    background-position: center;
    width: 50vw;
    bottom: 0;
    top: 100vh;
    position: absolute;
}