        @import "masi-variables";
        @import "bootstrap";
        @import "mixins";
        @import "menu";
        html.scrollable {
            overflow-y: scroll;
        }
        
        body {
            padding: 0;
            margin: 0;
            font-family: 'Playfair Display', serif;
        }
        
        h1,
        h2,
        h3,
        h4 {
            font-family: 'Cinzel', serif;
        }
        
        #icon-menu-page {
            left: 0vw;
            right: 0vw;
            bottom: 0vw;
            top: 0vw;
            background-color: $dark;
            position: absolute;
        }
        
        #menu {
            font-family: 'Cinzel', serif;
            font-size: 2em;
            color: white;
            text-align: center;
            li {
                list-style: none;
                line-height: 0.8em;
                padding-top: 30px;
            }
            span {
                font-size: $font-small;
                font-style: italic;
                margin-bottom: 0px;
                display: block;
            }
        }
        
        a {
            color: white;
        }
        
        #homepage {
            left: 0vw;
            right: 0vw;
            bottom: 0vw;
            top: 0vw;
            .flex-container {
                display: flex;
                justify-content: center;
                align-items: center;
                h2 {
                    transform: transitionY(-50px);
                }
                h2::after {
                    display: block;
                    content: "";
                    background: $light;
                    height: 1px;
                    width: 100%;
                    transform: scale(1.3, 1.0);
                }
            }
            &:hover {
                h2::after {
                    transform: scale(1, 1.0);
                }
            }
        }
        
        #page1 {
            @include bg-image-centered('../img/rose-block1.jpg');
            width: 100vw;
            height: 100vh;
        }
        
        #page2 {
            @include bg-image-centered('../img/rose-block2.jpg');
            right: 0vw;
            left: 100vw;
            bottom: 0vw;
            top: 0vw;
        }
        
        #page3 {
            @include bg-image-centered('../img/rose-block3.jpg');
            width: 50vw;
            left: 50vw;
            bottom: 0;
            top: 100vh;
        }
        
        #page4 {
            @include bg-image-centered('../img/rose-block4.jpg');
            width: 50vw;
            bottom: 0;
            top: 100vh;
            left: 50vw;
        }
        
        #menu li a {
            &::before,
            &::after {
                content: '';
                display: inline-block;
                width: 25px;
                height: 9px;
                border-top: 1px solid white;
                transform: scale(0, 1);
                margin-right: 10px;
                margin-left: 10px;
            }
            &:hover::before {
                transition: all 0.2s ease-in-out 0s;
                transform: scale(1, 1);
            }
            &:hover::after {
                transition: all 0.2s ease-in-out 0s;
                transform: scale(1, 1);
            }
        }
        
        a:hover {
            text-decoration: none;
            color: white;
        }