@import "bootstrap";

#page {
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#block1 {
    background-color: red;
    width: 100vw;
    height: 100vh;
}
#block2 {
    background-color: green;
    width: 0;
    height: 100vh;
}
#block3 {
    background-color: blue;
    width: 50vw;
    height: 0;
}
#block4 {
    background-color: yellow;
    width: 50vw;
    height: 0;
}
