.btn2 {
    @include btn(70px, 70px, $menu-btn-width, $menu-btn-height);
    .icon {
        @include icon-bar($menu-btn-linewidth, $menu-btn-width, $menu-btn-height / 2);
        &:before {
            @include icon-bar($menu-btn-linewidth, $menu-btn-width, -$menu-btn-height / 3);
        }
        &:after {
            @include icon-bar($menu-btn-linewidth, $menu-btn-width, $menu-btn-height / 3);
        }
    }
    &.open {
        .icon {
            transition-duration: 0.5s;
            background: transparent;
            &:before {
                transform: rotateZ(45deg) scaleX(1.16) translate($menu-btn-width / 4.5, $menu-btn-height / 4.5);
            }
            &:after {
                transform: rotateZ(-45deg) scaleX(1.16) translate($menu-btn-width / 4.5, -$menu-btn-height / 4.5);
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}